body{
background:#f4f4f4;
font-family:Arial;
margin:0;
}

.header{
background:#1e1e2f;
color:white;
padding:60px;
text-align:center;
}

.section{
padding:50px;
width:900px;
margin:auto;
}

.box{
background:white;
padding:25px;
margin-bottom:30px;
border-radius:8px;
box-shadow:0px 2px 6px gray;
}

h2{
color:#1e1e2f;
}

span{
background:#ddd;
padding:8px;
margin:5px;
display:inline-block;
}

img{
width:100%;
border-radius:6px;
}

.footer{
background:#1e1e2f;
color:white;
text-align:center;
padding:30px;
}
